/* General Layout */

html {
    font-size: 16px;
    --header-bg-color: #111213;
    --header-txt-color: white;
    --article-img-outline: #e9e9e9;
    --article-bg-button: linear-gradient(180deg, rgba(89, 164, 203, 1) 0%, rgba(71, 131, 161, 1) 90%);
    --article-txt-button: white;
    --pag-bg-button: #e7e7e7;
    --pag-bg-active: #c1c1c1;
    --pag-txt-active: white;
    --blue-txt-color: #59a4cb;
    --footer-bg-color: #0f0f0f;
    --text-col-light: #b9b9b7;
    --text-col-dark: #6f6e6e;
    --aside-bg-col: #e7e7e7;
    --text-header: 'Garamond';
    --text-body: 'Georgia';
    --text-button: 'Helvetica Neue';
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 3fr 1fr 2.5fr;
    grid-template-rows: 50px 80px;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    font-family: var(--text-header);
}

header .company-drive {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    margin: 0 10%;
}

header h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0;
}

header .motivational-text {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
}

header .motivational-text * {
    margin-right: 3%;
    display: inline-block;
    font-weight: 100;
}

header .search-element {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    margin: 20px;
    width: 200px;
    margin-left: calc(100% - 210px);
}

header .search-element * {
    border: 0;
}

header .search-element button {
    margin-right: -5px;
    background-color: white;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

header .search-element input {
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav {
    grid-column: 2/span 2;
    grid-row: 2/span 1;
}

header nav .navigation-elements {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

header nav .navigation-elements * {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--header-txt-color);
    font-size: 1.3rem;
    margin-right: 5px;
    font-weight: 900;
    margin-top: 22px;
}

.fade {
    display: none;
}

.transparency {
    opacity: 0;
    animation: fade-animation 1s forwards;
}

@keyframes fade-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-container {
    background-color: var(--header-bg-color);
}

.carousel-element {
    object-fit: cover;
}

.carousel-container img {
    width: 100%;
    object-fit: cover;
    height: 80vh;
}

.bellow-header {
    display: grid;
    grid-template-columns: 3fr 1fr 2.5fr;
    background-color: var(--header-bg-color);
}

.bellow-header blockquote {
    grid-column: 1/span 2;
    margin-left: 10%;
    font-size: 2.5rem;
    padding: 10px 0px;
}

.bellow-header .some-icons {
    grid-column: 3/span 1;
    margin: auto;
    width: 60%;
}

/* Main Layout */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.article-view-container {
    padding: 30px;
}

aside {
    background-color: var(--aside-bg-col);
    padding: 30px;
    font-family: var(--text-body);
}

/* Articles Layout */

.articles-container article {
    width: 80%;
    margin: auto;
    height: 250px;
    font-family: var(--text-body);
}

.articles-container article img {
    float: left;
    height: 80%;
    margin-right: 50px;
    outline-style: solid;
    outline-width: 5px;
    outline-color: var(--article-img-outline);
}

.articles-container article .header-post {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: var(--text-header);
}

.articles-container article .button-post {
    width: 150px;
    padding: 8px;
    background-image: var(--article-bg-button);
    color: var(--article-txt-button);
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px var(--text-col-dark);
    font-family: var(--text-button);
}

.information-post p:first-of-type {
    color: var(--blue-txt-color);
}

/* Pagination Layout */

.pagination {
    width: 80%;
    margin: auto;
    height: 20px;
}

.pagination * {
    display: inline;
}

.pagination button {
    padding: 5px 10px;
    border: 0;
    background-color: var(--pag-bg-button);
}

.pagination .active-page {
    background-color: var(--pag-bg-active);
    color: var(--pag-txt-active);
}

/* Aside Layout */

aside a {
    text-decoration: none;
    color: var(--blue-txt-color);
    font-weight: 600;
}

aside h3:first-of-type {
    margin-top: 0;
}

aside h3 {
    font-weight: 100;
    font-size: 2rem;
    font-family: var(--text-header);
}

aside article p {
    margin: 5px 0px;
}

aside article ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

/* Sponsors Section Layout */

.sponsors {
    width: 90%;
    margin: auto;
}

.sponsors h4 {
    font-size: 2rem;
    font-family: var(--text-header);
}

.sponsors img {
    margin-bottom: 50px;
    width: 100%;
}

/* Footer */

.text-light {
    color: var(--text-col-light);
}

.text-dark {
    color: var(--text-col-dark);
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    background-color: var(--footer-bg-color);
}

footer * {
    width: 90%;
    margin: 10px auto;
}

footer h2 {
    color: var(--header-txt-color);
    font-family: var(--text-header);
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer p {
    font-size: 1.3em;
}

footer .flickr-nbc-footer img {
    width: 75%;
    margin: 0 auto;
}

footer .contact-nbc-footer p {
    font-size: 1.4rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

footer .contact-nbc-footer img {
    width: 70%;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    header {
        display: grid;
        grid-template-rows: 80px 100px;
    }

    header nav {
        grid-column: 1/span 3;
        padding: 20px;
    }

    header .search-element {
        margin: 40px;
        width: 200px;
        margin-left: calc(100% - 225px);
    }

    .articles-container article {
        height: 350px;
    }
}

@media screen and (max-width: 980px) {
    .articles-container article {
        height: 400px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, minmax(100px, 350px));
    }

    .articles-container article img {
        grid-row: 1/span 1;
        grid-column: 2/span 1;
        margin: 0;
    }

    .articles-container .information-post {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
        padding-right: 10px;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-nbc-footer p:nth-of-type(2) {
        margin-top: -20px;
    }

    .about-nbc-footer p:nth-of-type(3) {
        margin-top: -20px;
    }

    .contact-nbc-footer {
        grid-row: 2/span 1;
        grid-column: 2/span 1;
    }

    .bellow-header .some-icons {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    header .company-drive {
        grid-column: 1/span 1;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .articles-container article {
        width: 95%;
        max-height: 250px;
    }

    .carousel-container img {
        width: 100%;
        object-fit: cover;
        height: 40vh;
    }
}

@media screen and (max-width: 375px) {

    header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(140px, 230px));
    }

    header .company-drive {
        margin: 20px;
        margin-top: 70px;
        grid-template-rows: 1/span 1;
    }

    header nav .navigation-elements {
        float: none;
    }

    header nav .navigation-elements * {
        display: block;
        text-align: center;
    }

    .bellow-header blockquote {
        grid-column: 1/span 3;
    }

    .bellow-header .some-icons {
        grid-column: 1/span 3;
    }

    .articles-container {
        height: auto;
    }

    .articles-container article {
        height: auto;
        display: block;
    }

    .articles-container article:not(:first-of-type) {
        margin: 220px 0;
    }

    .articles-container article img {
        float: none;
    }

    aside {
        display: block;
    }

    footer {
        display: block;
    }

    footer .about-nbc-footer {
        padding-top: 30px;
    }

    footer .flickr-nbc-footer {
        margin: 30px;
    }
}